@import "css-reset.scss";

header{
    margin: 19px 0 36px 0;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    .container{
        display: flex;
        justify-content: space-between;
        .header__nav{
            flex: 0 1 40.506%;
            display: flex;
            justify-content: space-between;
            nav{
                display: grid;
                grid-auto-flow: column;
                column-gap: 30px;
                .nav__phone{display: none;}
            }
            .menu-icon{display: none;}
            @media(hover: hover) and (pointer: fine){
                a{
                    transform: translate3d(0, 0, 0);
                    transition: color 0.3s ease;
                }
                a:hover{color: $blue;}
            }
        }
    }
}

.block1{
    .container{
        display: grid;
        .block1__img-pc, .block1__text, .block1__links{
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .block1__img-mob{display: none;}
        .block1__img-pc{
            width: 100.697%;
            transform: translateX(-0.3485%);
            img{
                display: block;
                width: 100%;
            }
        }
        .block1__text{
            width: 40.506%;
            justify-self: end;
            align-self: start;
            h4{max-width: 431px;}
            p{
                margin-top: 10px;
                font-size: 18px;
                line-height: 104.5%;
            }
        }
        .block1__links{
            margin: 0 0 40px 32px;
            justify-self: start;
            align-self: end;
            display: flex;
            a{
                transform: translate3d(0, 0, 0);
                height: 52px;
                border: 1px solid $white;
                background-color: rgba(255, 255, 255, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a:first-child{
                width: 242px;
                border-radius: 70px;
                font-family: "OpenSans-Regular";
                font-size: 16px;
                line-height: 125%;
                color: $white;
            }
            a:last-child{
                width: 52px;
                border-radius: 50%;
                z-index: 1;
            }
            @media(hover: hover) and (pointer: fine){
                a{transition: background-color 0.3s ease;}
                a:hover{background-color: rgba(0, 0, 0, 0.2);}
                a:last-child{
                    img{
                        transition: transform 0.3s ease;
                        transform: translate3d(0, 0, 0);
                    }
                }
                a:last-child:hover{
                    img{transform: translate3d(0, 0, 0) rotate(45deg);}
                }
            }
        }
    }
}

.block2{
    margin: 82px 0 112px 0;
    .container{
        .block2__about-company{
            display: flex;
            justify-content: space-between;
            align-items: start;
            .about-company__text{
                max-width: 571px;
                display: grid;
                div, img{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                div{
                    padding: 31px 38px;
                    h4{text-transform: uppercase;}
                    p{
                        margin-top: 28px;
                        line-height: 104.5%;
                    }
                }
                img{width: 100%;}
            }
            .about-company__img{width: 39.286%;}
        }
        .block2__cards{
            margin-top: 90px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 52px;
            .cards__card{
                display: grid;
                picture, .card__button, h6, p{
                    grid-row: 1/2;
                    grid-column: 1/2;
                }
                picture{
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                .card__button{
                    z-index: 1;
                    justify-self: end;
                    align-self: end;
                    width: 55px;
                    height: 55px;
                    transform: translate3d(-4px, -8px, 0);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                    img{
                        transform: translate3d(0, 0, 0);
                        transition: transform 0.3s ease;
                    }
                }
                .card__button:focus ~ p{
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s;
                }
                .card__button:focus ~ h6{
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                }
                .card__button:focus{
                    img{transform: translate3d(0, 0, 0) rotate(90deg);}
                }
                h6{
                    transform: translate3d(0, -4px, 0);
                    transition: opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s;
                    align-self: center;
                    justify-self: center;
                    text-align: center;
                }
                p{
                    transform: translate3d(0, -6px, 0);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    align-self: center;
                    margin: 0 23px 0 27px;
                    line-height: 104.5%;
                    color: $white;
                }
            }
            .cards__card:first-child{
                .card__button{background-color: #58331C;}
            }
            .cards__card:nth-child(2){
                .card__button{background-color: #8D5E32;}
            }
            .cards__card:last-child{
                .card__button{background-color: #606866;}
            }
        }
    }
}

.block3{
    .container{
        h4{
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 85px;
        }
        .swiper{
            overflow: visible;
            width: 48.171%;
            .swiper-wrapper{
                .swiper-slide{
                    height: auto;
                    padding: 29px 40px 31px 40px;
                    border-radius: 24px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    .swiper-slide__title{
                        display: block;
                        text-transform: uppercase;
                        line-height: 104.5%;
                        text-align: center;
                        margin-bottom: 25px;
                    }
                    ul{
                        li{
                            margin-top: 8px;
                            line-height: 104.5%;
                            padding-left: 20px;
                            list-style: none;
                            position: relative;
                            &::before{
                                content: '';
                                position: absolute;
                                top: 10px;
                                left: 0;
                                height: 5px;
                                width: 5px;
                                border-radius: 50%;
                                background-color: black;
                            }
                        }
                        li:first-child{margin-top: 0;}
                    }
                }
                .swiper-slide:first-child{background-color: rgba(96, 104, 102, 0.4);}
                .swiper-slide:nth-child(2){background-color: rgba(208, 188, 159, 0.4);}
                .swiper-slide:last-child{background-color: rgba(88, 51, 28, 0.4);}
            }
            .swiper-button-prev, .swiper-button-next{
                width: 53px;
                &::after{display: none;}
                div:first-child{
                    width: 5px;
                    height: 5px;
                    transform: rotate(45deg);
                    background-color: black;
                }
                div:last-child{
                    height: 1px;
                    flex: 1 1 auto;
                    background-color: black;
                }
            }
            .swiper-button-prev{
                left: -29px;
                transform: translate3d(-100%, 0, 0);
            }
            .swiper-button-next{
                right: -29px;
                transform: translate3d(100%, 0, 0) rotate(180deg);
            }
        }
        .whitespace{display: none;}
    }
}

.block4{
    margin: 120px 0 105px 0;
    .container{
        h4{
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 85px;
        }
        .block4__table{
            display: grid;
            grid-template: repeat(5, 1fr) / repeat(2, 1fr);
            border-left: 1px solid black;
            border-right: 1px solid black;
            p{
                line-height: 104.5%;
                padding: 22px 32px;
                border-top: 1px solid black;
                position: relative;
            }
            p:nth-child(odd){
                border-right: 1px solid black;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 22px;
                    left: -3px;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background-color: black;
                }
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -3px;
                    height: 22px;
                    width: 5px;
                    background-color: #FEFCF3;
                }
            }
            p:nth-child(even){
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 22px;
                    right: -3px;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background-color: black;
                }
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: -3px;
                    height: 22px;
                    width: 5px;
                    background-color: #FEFCF3;
                }
            }
            p:last-child{
                .line{
                    position: absolute;
                    bottom: 0;
                    left: -3px;
                    height: 21px;
                    width: 5px;
                    background-color: #FEFCF3;
                }
            }
        }
    }
}

footer{
    .footer__line{
        height: 1px;
        background-color: black;
    }
    .container{
        h4{
            text-transform: uppercase;
            margin: 18px 0;
        }
    }
    .footer-container{
        margin-top: 54px;
        margin-bottom: 54px;
        display: grid;
        row-gap: 44px;
        p{
            text-transform: uppercase;
            line-height: 104.5%;
        }
        p:first-child{grid-column: 1/3;}
        .footer__contacts{
            justify-self: end;
            align-self: end;
            div{
                display: flex;
                span, a{
                    text-transform: uppercase;
                    line-height: 104.5%;
                }
                a{margin-left: 6px;}
                @media(hover: hover) and (pointer: fine){
                    a{
                        transform: translate3d(0, 0, 0);
                        transition: color 0.3s ease;
                    }
                    a:hover{color: $blue;}
                }
            }
        }
    }
}

@media(max-width: 1300.9px) and (min-width: 321px){
    .block2{
        margin: calc(36px + (82 - 36) * ((100vw - 321px) / (1300 - 321))) 0
                calc(56px + (112 - 56) * ((100vw - 321px) / (1300 - 321))) 0;
        .container{
            .block2__cards{margin-top: calc(36px + (90 - 36) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .block3{
        .container{
            h4{margin-bottom: calc(36px + (85 - 36) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .block4{
        margin: calc(60px + (120 - 60) * ((100vw - 321px) / (1300 - 321))) 0
                calc(45px + (105 - 45) * ((100vw - 321px) / (1300 - 321))) 0;
        .container{
            h4{margin-bottom: calc(36px + (85 - 36) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    footer{
        .footer-container{
            margin-top: calc(30px + (54 - 30) * ((100vw - 321px) / (1300 - 321)));
            margin-bottom: calc(30px + (54 - 30) * ((100vw - 321px) / (1300 - 321)));
            row-gap: calc(20px + (44 - 20) * ((100vw - 321px) / (1300 - 321)));
        }
    }
}

@media(max-width: 1300.9px) and (min-width: 992px){
    header{
        .container{
            .header__nav{
                nav{column-gap: calc(22px + (30 - 22) * ((100vw - 992px) / (1300 - 992)));}
            }
        }
    }
    .block1{
        .container{
            .block1__text{
                h4{max-width: calc(312px + (431 - 312) * ((100vw - 992px) / (1300 - 992)));}
                p{font-size: calc(13px + (18 - 13) * ((100vw - 992px) / (1300 - 992)));}
            }
            .block1__links{
                margin: 0 0 calc(30px + (40 - 30) * ((100vw - 992px) / (1300 - 992)))
                            calc(22px + (32 - 22) * ((100vw - 992px) / (1300 - 992)));
                a{height: calc(40px + (52 - 40) * ((100vw - 992px) / (1300 - 992)));}
                a:first-child{
                    width: calc(185px + (242 - 185) * ((100vw - 992px) / (1300 - 992)));
                    font-size: calc(12px + (16 - 12) * ((100vw - 992px) / (1300 - 992)));
                }
                a:last-child{
                    width: calc(40px + (52 - 40) * ((100vw - 992px) / (1300 - 992)));
                    img{width: calc(26px + (32 - 26) * ((100vw - 992px) / (1300 - 992)));}
                }
            }
        }
    }
    .block2{
        .container{
            .block2__about-company{
                .about-company__text{
                    max-width: calc(428px + (571 - 428) * ((100vw - 992px) / (1300 - 992)));
                    div{
                        padding: calc(23px + (31 - 23) * ((100vw - 992px) / (1300 - 992)))
                                 calc(29px + (38 - 29) * ((100vw - 992px) / (1300 - 992)));
                        p{margin-top: calc(21px + (28 - 21) * ((100vw - 992px) / (1300 - 992)));}
                    }
                }
            }
            .block2__cards{
                column-gap: calc(40px + (52 - 40) * ((100vw - 992px) / (1300 - 992)));
                .cards__card{
                    .card__button{
                        width: calc(42px + (55 - 42) * ((100vw - 992px) / (1300 - 992)));
                        height: calc(42px + (55 - 42) * ((100vw - 992px) / (1300 - 992)));
                        transform: translate3d(
                            calc(-3px + (-4 - (-3)) * ((100vw - 992px) / (1300 - 992))),
                            calc(-6px + (-8 - (-6)) * ((100vw - 992px) / (1300 - 992))),
                            0
                        );
                        img{width: calc(26px + (32 - 26) * ((100vw - 992px) / (1300 - 992)));}
                    }
                    p{
                        margin: 0 calc(20px + (23 - 20) * ((100vw - 992px) / (1300 - 992)))
                                0 calc(24px + (27 - 24) * ((100vw - 992px) / (1300 - 992)));
                    }
                }
            }
        }
    }
    .block3{
        .container{
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        padding: calc(22px + (29 - 22) * ((100vw - 992px) / (1300 - 992)))
                                 calc(30px + (40 - 30) * ((100vw - 992px) / (1300 - 992)))
                                 calc(24px + (31 - 24) * ((100vw - 992px) / (1300 - 992)))
                                 calc(30px + (40 - 30) * ((100vw - 992px) / (1300 - 992)));
                        .swiper-slide__title{margin-bottom: calc(19px + (25 - 19) * ((100vw - 992px) / (1300 - 992)));}
                        ul{
                            li{
                                &::before{top: calc(5px + (10 - 5) * ((100vw - 992px) / (1300 - 992)));}
                            }
                        }
                    }
                }
            }
        }
    }
    .block4{
        .container{
            .block4__table{
                p{
                    padding: calc(16px + (22 - 16) * ((100vw - 992px) / (1300 - 992)))
                             calc(24px + (32 - 24) * ((100vw - 992px) / (1300 - 992)));
                }
            }
        }
    }
    footer{
        .container{
            h4{margin: calc(13px + (18 - 13) * ((100vw - 992px) / (1300 - 992))) 0;}
        }
    }
}

@media(max-width: 991.9px){
    header{
        .container{
            .header__nav{
                flex: 0 1 360px;
                nav{column-gap: 22px;}
            }
        }
    }
    .block1{
        .container{
            .block1__img-pc{display: none;}
            .block1__img-mob{
                display: block;
                grid-row: 2/3;
                grid-column: 1/2;
                img{
                    width: 100%;
                    height: 100%;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    object-fit: cover;
                    object-position: 50% 70%;
                }
            }
            .block1__text{
                width: auto;
                justify-self: auto;
                h4{max-width: none;}
                p{font-size: 13px;}
            }
            .block1__links{
                grid-row: 2/3;
                margin: 0 0 22px 22px;
                a{
                    height: 40px;
                    background-color: rgba(88, 51, 28, 0.7);
                }
                @media(hover: hover) and (pointer: fine){
                    a:hover{background-color: rgba(88, 51, 28, 0.9);}
                }
                a:first-child{
                    width: 185px;
                    font-size: 12px;
                }
                a:last-child{
                    width: 40px;
                    img{width: 26px;}
                }
            }
        }
    }
    .block2{
        .container{
            .block2__about-company{
                align-items: center;
                .about-company__text{
                    max-width: none;
                    div{
                        padding: 0;
                        margin-right: 50px;
                        p{margin-top: 21px;}
                    }
                    img{display: none;}
                }
                .about-company__img{flex-shrink: 0;}
            }
            .block2__cards{
                grid-template-columns: repeat(2, 266px);
                column-gap: 40px;
                row-gap: 37px;
                justify-content: center;
                .cards__card{
                    .card__button{
                        width: 42px;
                        height: 42px;
                        transform: translate3d(-3px, -6px, 0);
                        img{width: 26px;}
                    }
                    p{margin: 0 20px 0 24px;}
                }
            }
        }
    }
    .block3{
        .container{
            .swiper{
                width: 100%;
                max-width: 420px;
                .swiper-wrapper{
                    .swiper-slide{
                        padding: 22px 30px 24px 30px;
                        .swiper-slide__title{margin-bottom: 19px;}
                        ul{
                            li{
                                &::before{top: 5px;}
                            }
                        }
                    }
                }
                .swiper-button-prev, .swiper-button-next{width: 44px;}
                .swiper-button-prev{left: -18px;}
                .swiper-button-next{right: -18px;}
            }
        }
    }
    .block4{
        .container{
            .block4__table{
                p{padding: 16px 24px;}
            }
        }
    }
    footer{
        .container{
            h4{margin: 13px 0;}
        }
    }
}

@media(max-width: 991.9px) and (min-width: 321px){
    .block1{
        .container{
            row-gap: calc(18px + (22 - 18) * ((100vw - 321px) / (991 - 321)));
            .block1__img-mob{
                height: calc(270px + (470 - 270) * ((100vw - 321px) / (991 - 321)));
                img{border-radius: calc(25px + (40 - 25) * ((100vw - 321px) / (991 - 321)));}
            }
            .block1__text{
                p{margin-top: calc(10px + (14 - 10) * ((100vw - 321px) / (991 - 321)));}
            }
        }
    }
}

@media(max-width: 767.9px){
    .wrapper._lock{height: 100%;}
    header{
        .container{
            .header__logo, .menu-icon, .phone{
                z-index: 3;
                transform: translate3d(0, 0, 0);
            }
            .header__nav{
                flex: 0 1 160px;
                nav{
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: auto;
                    position: fixed;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: #FEFCF3;
                    transition: transform 0.3s ease;
                    a{
                        font-size: calc(2vw + 2vh);
                        margin-top: 50px;
                        &:first-child{margin-top: 100px;}
                        &:nth-child(3){margin-bottom: 60px;}
                    }
                }
                nav._active{transform: translateX(100%);}
                .menu-icon{
                    display: block;
                    position: relative;
                    width: 28px;
                    height: 18px;
                    cursor: pointer;
                    span, &::before, &::after{
                        position: absolute;
                        left: 0;
                        height: 10%;
                        width: 100%;
                        transition: all 0.3s ease;
                        background-color: black;
                    }
                    &::before, &::after{content: "";}
                    &::before{top: 0;}
                    &::after{bottom: 0;}
                    span{
                        top: 50%;
                        transform: scale(1) translate(0px, -50%);
                    }
                }
                .menu-icon._active{
                    span{transform: scale(0) translate(0px, -50%);}
                    &::before{
                        top: 8px;
                        transform: rotate(-45deg);
                    }
                    &::after{
                        bottom: 8px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .block1{
        .container{
            .block1__text{
                h4{max-width: 479px;}
            }
        }
    }
    .block2{
        .container{
            .block2__about-company{
                .about-company__text{
                    div{margin-right: 0;}
                }
                .about-company__img{display: none;}
            }
            .block2__cards{
                grid-template-columns: 266px;
                row-gap: 25px;
            }
        }
    }
    .block3{
        .container{
            .swiper{
                .swiper-button-prev, .swiper-button-next{
                    top: auto;
                    bottom: -30px;
                }
                .swiper-button-prev{
                    left: 45%;
                    transform: translate3d(-100%, 100%, 0);
                }
                .swiper-button-next{
                    right: 45%;
                    transform: translate3d(100%, 100%, 0) rotate(180deg);
                }
            }
            .whitespace{
                display: block;
                width: 0;
                height: 54px;
            }
        }
    }
    .block4{
        .container{
            .block4__table{
                grid-template: repeat(10, 1fr) / 1fr;
                border-right: unset;
                border-left: unset;
                p:nth-child(odd){
                    border-right: unset;
                    border-left: 1px solid black;
                }
                p:nth-child(even){
                    border-right: 1px solid black;
                }
                p:last-child{
                    .line{display: none;}
                }
            }
        }
    }
    footer{
        .footer-container{
            p:nth-child(2){width: min-content;}
        }
    }
}

@media(max-width: 600.9px){
    footer{
        .footer-container{
            p:first-child{grid-column: auto;}
            .footer__contacts{justify-self: auto;}
        }
    }
}

@media(max-width: 535.9px){
    header{
        .container{
            .header__nav{
                flex: 0 1 auto;
                nav{
                    a{
                        &:nth-child(3){margin-bottom: 0;}
                    }
                    .nav__phone{
                        display: block;
                        padding-top: 20px;
                        margin-bottom: 60px;
                        border-top: 1px solid black;
                    }
                }
                .phone{display: none;}
            }
        }
    }
}

@media(max-width: 480.9px){
    .block2{
        .container{
            .block2__cards{row-gap: 20px;}
        }
    }
    .block3{
        .container{
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{padding: 22px 20px 24px 20px;}
                }
            }
        }
    }
}

@media(max-width: 400.9px){
    .block1{
        .container{
            .block1__links{
                justify-self: center;
                margin: 0 0 20px 0;
            }
        }
    }
}

@media(max-width: 355.9px){
    .block3{
        .container{
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{padding: 22px 15px 24px 15px;}
                }
            }
        }
    }
}

@media(max-width: 320.9px){
    .block1{
        .container{
            row-gap: 18px;
            .block1__img-mob{
                height: 270px;
                img{border-radius: 25px;}
            }
        }
    }
    .block2{
        margin: 36px 0 56px 0;
        .container{
            .block2__cards{margin-top: 36px;}
        }
    }
    .block3{
        .container{
            h4{margin-bottom: 36px;}
        }
    }
    .block4{
        margin: 60px 0 45px 0;
        .container{
            h4{margin-bottom: 36px;}
        }
    }
    footer{
        .footer-container{
            margin-top: 30px;
            margin-bottom: 30px;
            row-gap: 20px;
        }
    }
}