*{
    padding: 0; 
    margin: 0; 
    border: 0;
}

*, *::before, *::after{box-sizing: border-box;}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../fonts/Gilroy-Light.woff2");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.woff2");
}

html, body{
    line-height: 1;
    font-size: 24px;
    font-family: "Gilroy-Light";
    background-color: #FEFCF3;
    height: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

$white: #FFFFFF;
$blue: #0490ff;

h1, h2, h3, h4, h5, h6{font-weight: normal;}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content{flex: 1 1 auto;}

.container{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 66px;
}

h4{
    font-size: 36px;
    line-height: 104.5%;
}

h6{
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    color: $white;
}

@media(max-width: 1300.9px) and (min-width: 321px){
    .container{padding: 0px calc(15px + (66 - 15) * ((100vw - 321px) / (1300 - 321)));}
}

@media(max-width: 1300.9px) and (min-width: 992px){
    html, body{font-size: calc(18px + (24 - 18) * ((100vw - 992px) / (1300 - 992)));}
    h4{font-size: calc(26px + (36 - 26) * ((100vw - 992px) / (1300 - 992)));}
    h6{font-size: calc(21px + (28 - 21) * ((100vw - 992px) / (1300 - 992)));}
}

@media(max-width: 991.9px){
    html, body{font-size: 18px;}
    h4{font-size: 26px;}
    h6{font-size: 21px;}
}

@media(max-width: 320.9px){
    .container{padding: 0px 15px;}
}